@using WorkPlaceShedulesBlazor.Storage
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient httpClient
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a @onclick="CerrarSesion" href="javascript:void(0)">Salir</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task CerrarSesion()
    {
        var autenticationExt = (AutenticationExtension)autenticacionProvider;
        await autenticationExt.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/");


    }
}
