@page "/AddShedules"

@inject SweetAlertService Swal;
@inject IUsersService UsersService;
@inject IUserWorkPlaceShedulesService userWorkPlaceShedules;

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;


<h3>Agregar Horario</h3>



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    

    [Parameter]
    public string Title { get; set; }

    
    
}
